## SQL ALCHEMY

In [19]:
from sqlalchemy import create_engine,or_
import pandas as pd
from sqlalchemy.orm import sessionmaker
from sqlalchemy.ext.declarative import declarative_base

In [2]:
SERVER = 'DESKTOP-V20Q7QI'
DATABASE = 'sample'
DRIVER = 'SQL Server Native Client 11.0'
DATABASE_CONNECTION = f'mssql://@{SERVER}/{DATABASE}?driver={DRIVER}'

In [3]:
engine = create_engine(DATABASE_CONNECTION)
connection = engine.connect()

### running a query to check the connection

In [4]:
data = pd.read_sql_query("select * from [sample].[dbo].[Market_Basket_Optimisation$]", connection)

In [5]:
data

,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
0,milk,butter,green grapes,chocolate,escalope,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1,burgers,ground beef,spaghetti,mineral water,oil,barbecue sauce,yogurt cake,low fat yogurt,None,None,None,None,None,None,None,None,None,None,None,None
2,escalope,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
3,champagne,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
4,carrots,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7495,butter,light mayo,fresh bread,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
7496,burgers,frozen vegetables,eggs,french fries,magazines,green tea,None,None,None,None,None,None,None,None,None,None,None,None,None,None
7497,chicken,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
7498,escalope,green tea,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
7499,eggs,frozen smoothie,yogurt cake,low fat yogurt,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

In [6]:
data.dtypes

shrimp               object
almonds              object
avocado              object
vegetables mix       object
green grapes         object
whole weat flour     object
yams                 object
cottage cheese       object
energy drink         object
tomato juice         object
low fat yogurt       object
green tea            object
honey                object
salad                object
mineral water        object
salmon               object
antioxydant juice    object
frozen smoothie      object
spinach              object
olive oil            object
dtype: object

### session

In [7]:
Session = sessionmaker(bind=engine)
session = Session()

Base = declarative_base()

#### basic queries

In [8]:
from sqlalchemy import Column, String, Integer
# create a table
class Student(Base):
    __tablename__ = 'student'
    
    id = Column(Integer, primary_key=True)
    name = Column(String(50))
    age = Column(Integer)
    grade = Column(String(50))
    
Base.metadata.create_all(engine)
# table is created

In [9]:
# Insert data
student1 = Student(name="vijaya",age=24, grade='Masters') # creating instance
session.add(student1) # adding data to session ( single record)
session.commit() # commit changes to DB

In [10]:
# Insert multiple data
student2 = Student(name="vijaya1",age=23, grade='Bachelors') # creating instance
student3 = Student(name="vijaya2",age=22, grade='Highschool') # creating instance

session.add_all([student2, student3]) # adding data to session ( multiple record)
session.commit() # commit changes to DB

In [11]:
# Query the table - read

# get all the data
students = session.query(Student)

for student in students:
    print(student.name, student.age, student.grade)

vijaya 24 Masters
vijaya1 23 Bachelors
vijaya2 22 Highschool

In [12]:
# get data in order
students = session.query(Student).order_by(Student.name)

for student in students:
    print(student.name)

vijaya
vijaya1
vijaya2

In [15]:
# Get data by filtering
student = session.query(Student).filter(Student.name=="vijaya").first()
for student in students:
    print(student.name)
    
    
print(student.name, student.age)

vijaya
vijaya1
vijaya2
vijaya2 22

In [20]:
student = session.query(Student).filter(or_(Student.name=="vijaya", Student.name=='vijaya1'))

for student in students:
    print(student.name, student.age)

vijaya 24
vijaya1 23
vijaya2 22

In [21]:
# count the results
student_count = session.query(Student).filter(or_(Student.name=="vijaya", Student.name=='vijaya1')).count()

print(student_count)

2

In [22]:
# update data

student = session.query(Student).filter(Student.name=="vijaya").first()
student.name = "laxmi"
session.commit()

In [23]:
# get all the data
students = session.query(Student)

for student in students:
    print(student.name, student.age, student.grade)

laxmi 24 Masters
vijaya1 23 Bachelors
vijaya2 22 Highschool

In [24]:
# Delete the data
student = session.query(Student).filter(Student.name=="vijaya1").first()
session.delete(student)
session.commit()

In [25]:
# get all the data
students = session.query(Student)

for student in students:
    print(student.name, student.age, student.grade)

laxmi 24 Masters
vijaya2 22 Highschool